*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

img,
iframe {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}


ol,
ul {
  list-style-type: none;
}

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
  outline: 0;
}

strong,
b,
.bold {
  font-weight: bold;
}

i,
.italic {
  font-style: italic;
}

sup {
  vertical-align: top;
  font-size: 70%;
}

button {
  appearance: none;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}