// font thiết kết là font Cabin nhưng lên website bị mờ
// nên chuyển sử dụng SVN-Poppins nó gần giống với Cabin nhưng nét hơn khi lên website
$font: "SVN-Poppins";

$main-color: #1a8917;
$main-color-bold: #076007;
$text-color: #000000;

$orange: #f2994a;
$orange-active: #c05a00;
$orange-hover: #e9750e;

$gray: #eaebf0;
$gray-sub: #909090;
$gray-90: #333333;
$gray-80: #444444;
$gray-active: #c2c3cc;
$gray-hover: #d5d6de;

$blue: #0077aa;

$brown: #1f1f1f;
$red: #eb5757;

$width-responsive-sidebar: 1200px;
