.checkbox-style-1 {
  display: block;
  position: relative;
  padding-left: 35px;
  //   margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;

  p {
    display: flex;
    margin: 0 !important;
  }
}

.checkbox-style-1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-style-1 .checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  background-color: transparent;
  margin-left: 0 !important;
  border: 2px solid #fff;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.checkbox-style-1:hover input ~ .checkmark {
  background-color: $red;
}

.checkbox-style-1 input:checked ~ .checkmark {
  background-color: $red;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-style-1 input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-style-1 .checkmark:after {
  content: "\f00c";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 10px;
}

// Style 2

.checkbox-style-2 {
  display: block;
  position: relative;
  padding-left: 27px;
  //   margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;

  p {
    display: flex;
    align-items: center;
    margin: 0 !important;
  }
}

.checkbox-style-2 .checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  background-color: transparent;
  margin-left: 0 !important;
  border: 2px solid $gray-sub;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.top-20 {
  top: 30px !important;
}

// .top-5 {
//   top: 0px !important;
// }

.checkbox-style-2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-style-2:hover input ~ .checkmark {
  background-color: $main-color;
}

.checkbox-style-2 input:checked ~ .checkmark {
  background-color: $main-color;
  border-color: $main-color;
}

.checkbox-style-2 input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-style-2 .checkmark:after {
  content: "\f00c";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 10px;
}
