.hamburger-btn {
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-color;
  border-radius: 10px;

  .bar {
    position: relative;
    background: #fff;
    transition: all 0ms 300ms;

    &,
    &::before,
    &::after {
      width: 20px;
      height: 2px;
      border-radius: 5px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      background: #fff;
    }

    &::before {
      bottom: 6px;
      transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    &::after {
      top: 6px;
      transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  }

  &.active {
    .bar {
      background: rgba(255, 255, 255, 0);
      &::before {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
          transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      &::after {
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
          transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }
    }
  }
}
