.card-update {
  .form-group {
    border: 1px solid #c2c3cc;
    padding: 12px;
    border-radius: 10px;
    textarea {
      border: unset;
      font: inherit;
      resize: none;
      width: 100%;
      outline: none;
    }
  }
}
.btn-green-submit {
  background-color: $main-color;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: $main-color-bold;
  }
}
