.card-statistical {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .list-select {
      > div {
        display: inline-flex;
        margin-left: 20px;
        @include max-media(465px) {
          margin-top: 10px;
        }
      }
    }
    @include max-media(610px) {
      flex-wrap: wrap;
      .list-select {
        > div {
          margin-left: 10px;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }

  &__body {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    .chart-circle {
      display: inline-block;
      width: 187px;
      position: relative;
      .text-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 1.3;
        span {
          display: block;
        }
      }
    }
    .chart-info {
      //   padding-left: 45px;
      display: inline-flex;
      width: calc(100% - 250px);
      flex-wrap: wrap;
      text-align: right;
      .item-info {
        width: 50%;
        text-align: left;
        .line {
          width: 30px;
          height: 8px;
          border-radius: 100px;
          display: inline-block;
          vertical-align: text-top;
          margin-top: 6px;
        }
        .text {
          display: inline-block;
          vertical-align: text-top;
          margin-left: 15px;
          text-align: left;
          span {
            display: block;
          }
        }

        &:nth-child(1) {
          .line {
            background: linear-gradient(
              269.94deg,
              #8dc63f -24.37%,
              #009444 139.29%
            );
          }
        }
        &:nth-child(2) {
          .line {
            background: #f2994a;
          }
        }
        &:nth-child(3) {
          .line {
            background: #1a8917;
          }
        }
        &:nth-child(4) {
          .line {
            background: #c05a00;
          }
        }
        &:nth-child(5) {
          .line {
            background: #076007;
          }
        }
      }
    }
    .chart-container {
      .top-chart {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    @include max-media(610px) {
      flex-direction: column;
      align-items: center;
      .chart-info {
        width: 400px;
        max-width: 100%;
        justify-content: space-between;
        margin-top: 15px;
      }
    }
  }
}

#statisticalChart {
  max-width: 100%;
}
